body{
  background-color: #afeeee;
  zoom: 60%;
}


body.flashErrore {
    animation: flashErrore 0.5s infinite alternate;
}

body.flashCorretto {
    animation: flashCorretto 0.5s infinite alternate;
}

@keyframes flashErrore {
    0% {
        background-color: #afeeee; /* colore di sfondo predefinito */
    }
    100% {
        background-color: red; /* colore di sfondo rosso */
    }
}

@keyframes flashCorretto {
    0% {
        background-color:#afeeee; /* colore di sfondo predefinito */
    }
    100% {
        background-color: green; /* colore di sfondo verde */
    }
}



p{
  font-size: 25;
  font-weight: bold;
}


h1{
  font-style: italic;
}

td{
  text-align: center;
  vertical-align: top;
  width: 275px;
  height: 400px;
  overflow: auto; 
}



@media (max-width: 1366px) {
  body{
    zoom:150%;
  }
  .solo-desktop {
    display: none;
  }
}

@media (min-width: 1366px) {
      .avviso-non-desktop {
        display: none;
      }
    }

.avviso-non-desktop {
    text-align: center;
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
}
