@import url('https://fonts.cdnfonts.com/css/vegan-style-personal-use');
@import url('https://fonts.cdnfonts.com/css/aaa-bzh');
@import url('https://fonts.cdnfonts.com/css/ogdred-weary');
@import url('https://fonts.cdnfonts.com/css/vactory-sans');

*{
    
}

body{
    /* background-color: #453a73; */
}

.divInfo{
    text-align: center;
    left: 50%;
    position: relative;
    transform: translate(-50%,0);
    width: fit-content;
    height: fit-content;
    margin-top: 5%;
}
.backgroundAdmin{
    z-index: -1;
    position: absolute;
    right: 0%;
    top:-10%;
    object-fit:fill;
}
#importante{
    color: darkred;
}
.titolo{
    font-family: 'Vegan Style Personal Use', sans-serif;
    letter-spacing: .3ch;
    color: #453a73;
    text-shadow: 5px 5px #a39eb5;
    font-size: 32pt;
}
label{
    font-family: 'VactorySans', sans-serif;
    letter-spacing: .2ch;
    color: black;
    font-size: 16spt;
}

#lato-dx{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 94%;
    font-family: 'Aaa_BZH', sans-serif;
    width: 1ch;
    word-wrap: break-word;
    font-size:  250%;
    color: #453a73;
}
#lato-sx{
    color: #453a73;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    font-family: 'Aaa_BZH', sans-serif;
    width: 1ch;
    word-wrap: break-word;
    font-size: 250%;
}

.h1RoundNonIniziato{
    
}

.divImgDaIndovinare{
    position: fixed;
    top: 30%;
    left: 70%;
    resize: both;
    width: max-content;
    height: fit-content;
    text-align: center ;
    align-items: center;
}

.contenitoreImg{
    margin: auto
}

/* Roberto */


.tabellaAdmin{
    margin: auto;
}



button{
}

.pImpostazioni{
    font-family: 'VactorySans', sans-serif !important; 
    letter-spacing: .2ch !important;
    color: black!important;
    font-size: 16spt!important;

}